<div id="<%= dom_id employment %>">
  <p>
    <strong><%= employment.user.name %></strong> (<%= employment.user_id %>) is employed
    at <strong><%= employment.company.name %></strong> (<%= employment.company_id %>)
  </p>
</div>
